{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/protected_style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Protected Page</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipiscing elit. Enim
            facilis providetn eaque delectu, illum vitae cumque distinctio
            consequatur tenetur sint voluptates adipisci nemo soluta vero quos
            temporibus repellat? Exercitationes, porro.
        </p>
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>